<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>나의 작은 메모</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/co.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body>
    <form id="form">
        <div class="cobg" id="cobg">
            <div class="cobgimg">
                <div class="login">
                    <table>
                        <tr>
                            <td>
                                <p class="Logletter" > Log in </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="account"><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" class="account"><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                로그인 유지 <input type="checkbox" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><a id="enter" type="submit" class="enter">들어가기<span class="material-symbols-outlined">login</span></a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a id="join">아직 아이디가 없으신가요?</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><a id="find">아이디, 비밀번호 찾기</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="curtain">
                </div>
            </div>
        </div>
    <form>
</body>
<script type="text/javascript" src="/js/library/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/library/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="/js/ji/JI010000M.js"></script>
</html>