<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>나의 작은 메모</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/co.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,1,-25" />

<body>
    <form id="form">
        <div class="cobg">
            <div class="join">
                <div class="welcome">
                    Welcome
                </div>
                <table class="login">
                    <tr>
                        <td>
                            <label for="input">닉네임</label><br>
                            <input class="account" name="nick" id="nick" maxlength="15">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="input" >아이디</label><span id="idChk"></span><br>
                            <input class="account" name="id" id="id" maxlength="15">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="input">비밀번호 </label><span id="pwChk">(4자리 이상)</span><br>
                            <input class="account"  name="password" id="password" type="password" maxlength="20">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="input">비밀번호 확인</label><br>
                            <input class="account" name="pwConfirm" id="pwConfirm" type="password" maxlength="20">
                        </td>
                    </tr>
                </table>
                <div class="joinMemo">
                    <p><a id="joinMemo">함께 순간을 기록해요 <span class="material-symbols-outlined">drive_file_rename_outline</span></a></p>
                </div>
            </div>
        </div>
        </div>
        <form>
</body>
<script type="text/javascript" src="/js/library/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/library/jquery-migrate-1.2.1.js"></script>
<script src="/js/ji/JI020000M.js"></script>

</html>