@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
    font-family: 'Gowun Batang', serif;
    /* font-family: 'Noto Serif KR', serif; */
    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px){
    /*di01*/
    .selects{
        float: left;
    }
    .menu{
        float: right;
    }
    .write{
        clear: both;
    }
    select {
        border: none;
        font-family: 'Gowun Batang', serif;
        font-size: 16px;
        font-weight: 700;
    }
    .weather {
        width: 100vw;
        height: 240px;
        background-color: white;
        background: linear-gradient(-90deg , #1d2c41, #f76d55,#639ace,#b7c9D9);
        background-repeat: no-repeat;
        background-size: 700% 700%;
        position: relative;
        animation: backgroundChange 100s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .window{
        background-image: url("../image/cat.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 240px;
    }
    .memo {
        padding-top: 10px;
        text-align: left;
        border-top: #22131a 2px solid;
        border-bottom: #22131a 2px solid;
        width: 100vw;
        /*height: 100vh;*/
        min-height: 68vh;
        background-color: white;
    }
    /*ji01*/
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }
    a {
        text-shadow: 2px 2px 2px black;
        color: white;
    }
    .Logletter{
        font-family: 'Playfair Display', serif;
        padding-top: 65%;
        padding-bottom: 5%;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    .account {
        border: none;
        /*box-shadow: 2px 2px 2px #6e6e6e;*/
        border-radius: 3px;
        width: 180px;
        height: 37px;
        margin-bottom: 20px;
        filter: alpha(opacity=90);
        opacity: 0.9;
        -moz-opacity:0.9;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Gowun Batang', serif;
    }
    .keep{
        font-weight: 600;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px black;
    }
    .enter {
        color: white;
        font-size: 25px;
        font-weight: 600;
        -webkit-text-stroke: 1px rgb(45, 45, 45);
    }
    .checkbox {
        border-radius: 3px;
        width: 15px;
        height: 15px;
        filter: alpha(opacity=80);
        opacity: 0.8;
        -moz-opacity:0.8;
    }
    .login {
        font-size: 15px;
        padding-top: 5%;
        margin-bottom: 8%;
        color: white;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }
    /* co01 */
    .cobg {
        margin: 0;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-90deg , #1d2c41, #f76d55,#639ace,#b7c9D9);
        background-repeat: no-repeat;
        background-size: 600% 600%;
        position: relative;
        animation: backgroundChange 60s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .cobgimg{
        background-image: url("../image/mainM2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
    }
    .myltmm {
        padding-top: 135%;
        font-size: 40px;
        color: white;
        text-shadow: 2px 2px 2px #6e6e6e;
        -webkit-text-stroke: 1px rgb(45, 45, 45);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*JI01*/
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    a {
        text-shadow: 2px 2px 2px black;
        color: white;
    }
    .Logletter{
        font-family: 'Playfair Display', serif;
        padding-top: 50%;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    .account {
        border: none;
        /*box-shadow: 2px 2px 2px #6e6e6e;*/
        border-radius: 3px;
        width: 180px;
        height: 37px;
        margin-bottom: 20px;
        filter: alpha(opacity=90);
        opacity: 0.9;
        -moz-opacity:0.9;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Gowun Batang', serif;
    }
    .keep{
        font-weight: 600;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px black;
    }
    .enter {
        color: white;
        font-size: 25px;
        font-weight: 600;
        -webkit-text-stroke: 1px rgb(45, 45, 45);
    }
    .checkbox {
        border-radius: 3px;
        width: 15px;
        height: 15px;
        filter: alpha(opacity=80);
        opacity: 0.8;
        -moz-opacity:0.8;
    }
    .login {
        font-size: 15px;
        padding-top: 5%;
        margin-bottom: 5%;
        color: white;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }
    .cobg {
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-45deg, #1d2c41, #b7c9D9, #639ace, #22131a);
        background-repeat: no-repeat;
        background-size: 400% 400%;
        position: relative;
        animation: backgroundChange 15s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .cobgimg{
        background-image: url("../image/mainT.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
    }
    .myltmm {
        padding-top: 70%;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px #6e6e6e;
        -webkit-text-stroke: 1.5px rgb(45, 45, 45);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*JI01*/
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    a {
        text-shadow: 2px 2px 2px black;
        color: white;
    }
    .Logletter{
        font-family: 'Playfair Display', serif;
        padding-top: 50%;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    .account {
        border: none;
        /*box-shadow: 2px 2px 2px #6e6e6e;*/
        border-radius: 3px;
        width: 180px;
        height: 37px;
        margin-bottom: 20px;
        filter: alpha(opacity=90);
        opacity: 0.9;
        -moz-opacity:0.9;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Gowun Batang', serif;
    }
    .keep{
        font-weight: 600;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px black;
    }
    .enter {
        color: white;
        font-size: 25px;
        font-weight: 600;
        -webkit-text-stroke: 1px rgb(45, 45, 45);
    }
    .checkbox {
        border-radius: 3px;
        width: 15px;
        height: 15px;
        filter: alpha(opacity=80);
        opacity: 0.8;
        -moz-opacity:0.8;
    }
    .login {
        font-size: 15px;
        padding-top: 5%;
        margin-bottom: 5%;
        color: white;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }
    /*CO01*/
    .cobg {
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-45deg, #1d2c41, #b7c9D9, #639ace, #22131a);
        background-repeat: no-repeat;
        background-size: 400% 400%;
        position: relative;
        animation: backgroundChange 15s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .cobgimg{
        background-image: url("../image/mainW.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
    }
    .myltmm {
        padding-top: 30%;
        font-size: 50px;
        color: white;
        text-shadow: 3px 3px 3px gray;
        -webkit-text-stroke: 1.5px rgb(45, 45, 45);
    }
}

@media (min-width: 1200px) {
    /*JI01*/
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    a {
        text-shadow: 2px 2px 2px black;
        color: white;
    }
    .Logletter{
        font-family: 'Playfair Display', serif;
        padding-top: 22%;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    .account {
        border: none;
        border-radius: 3px;
        width: 180px;
        height: 37px;
        margin-bottom: 20px;
        filter: alpha(opacity=90);
        opacity: 0.9;
        -moz-opacity:0.9;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Gowun Batang', serif;
    }
    .keep{
        font-weight: 600;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px black;
    }
    .enter {
        color: white;
        font-size: 25px;
        font-weight: 600;
        -webkit-text-stroke: 1px rgb(45, 45, 45);
    }
    .checkbox {
        border-radius: 3px;
        width: 15px;
        height: 15px;
        filter: alpha(opacity=80);
        opacity: 0.8;
        -moz-opacity:0.8;
    }
    .login {
        font-size: 15px;
        padding-top: 5%;
        margin-bottom: 5%;
        color: white;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }
    /*CO01*/
    .cobg {
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-45deg, #df98b6, #b7c9D9, #639ace, #22131a);
        background-repeat: no-repeat;
        background-size: 400% 400%;
        position: relative;
        animation: backgroundChange 20s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .cobgimg{
        background-image: url("../image/mainW.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
    }
    .myltmm {
        font-weight: 900;
        padding-top: 34%;
        font-size: 56px;
        color: white;
        text-shadow: 3px 3px 3px gray;
        -webkit-text-stroke: 1.5px rgb(45, 45, 45);
    }
}

@keyframes backgroundChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

