<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>나의 작은 메모</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/co.css">

<body>
    <form id="form">
        <div class="cobg" id="cobg">
            <div class="cobgimg">

                <div class="myltmm">
                    나의<br>작은<br>메모
                </div>
                
            </div>
        </div>
    <form>
</body>
<script type="text/javascript" src="/js/library/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/library/jquery-migrate-1.2.1.js"></script>
<script src="/js/co/CO010000M.js"></script>
</html>